In [1]:
import pandas as pd
titanic=pd.read_csv("titanic.csv")

In [2]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   gender    891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [3]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Summary only for 'Object' columns i.e. Categorical columns

In [6]:
# Summary only for 'Object' columns i.e. Categorical columns
print(titanic.describe(include="O"))  # O - Object

       gender embarked deck
count     891      889  203
unique      2        3    7
top      male        S    C
freq      577      644   59

In [12]:
type(titanic)

pandas.core.frame.DataFrame

In [13]:
len(titanic)

891

In [19]:
titanic

     survived  pclass  gender   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [14]:
round(titanic,0)

     survived  pclass  gender   age  sibsp  parch  fare embarked deck
0           0       3    male  22.0      1      0   7.0        S  NaN
1           1       1  female  38.0      1      0  71.0        C    C
2           1       3  female  26.0      0      0   8.0        S  NaN
3           1       1  female  35.0      1      0  53.0        S    C
4           0       3    male  35.0      0      0   8.0        S  NaN
..        ...     ...     ...   ...    ...    ...   ...      ...  ...
886         0       2    male  27.0      0      0  13.0        S  NaN
887         1       1  female  19.0      0      0  30.0        S    B
888         0       3  female   NaN      1      2  23.0        S  NaN
889         1       1    male  26.0      0      0  30.0        C    C
890         0       3    male  32.0      0      0   8.0        Q  NaN

[891 rows x 9 columns]

In [15]:
min(titanic)

'age'

In [16]:
titanic.shape

(891, 9)

In [18]:
titanic.size  # no of rows * no of columns

8019

In [20]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [21]:
titanic.columns

Index(['survived', 'pclass', 'gender', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [22]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [23]:
type(titanic["age"])

pandas.core.series.Series

In [24]:
titanic[["age","gender"]]     # df[list of columns]

      age  gender
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
..    ...     ...
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [25]:
type(titanic[["age","gender"]]  )

pandas.core.frame.DataFrame

In [26]:
# using the dot notation
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [27]:
titanic.embarked

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object

In [29]:
df=pd.read_csv("summer.csv",index_col="Athlete")

In [30]:
df.head()

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [31]:
df.iloc[0] # 1st Row

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [32]:
type(df.iloc[0])

pandas.core.series.Series

In [33]:
# 2nd row
df.iloc[1]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  AUT
Gender                   Men
Event         100M Freestyle
Medal                 Silver
Name: HERSCHMANN, Otto, dtype: object

In [35]:
# display last row
df.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: LIDBERG, Jimmy, dtype: object

In [36]:
# 2nd 3rd and 4th rows
df.iloc[[1,2,3]]

                    Year    City  ...                       Event   Medal
Athlete                           ...
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold

[3 rows x 8 columns]

In [37]:
#1st Five rows
df.iloc[:5]

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver

[5 rows x 8 columns]

In [38]:
#last 5 rows
df.iloc[-5:]

                           Year    City      Sport  ... Gender     Event   Medal
Athlete                                             ...
JANIKOWSKI, Damian         2012  London  Wrestling  ...    Men  Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  Wrestling  ...    Men  Wg 96 KG    Gold
TOTROV, Rustam             2012  London  Wrestling  ...    Men  Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze

[5 rows x 8 columns]

In [39]:
# select all rows
df.iloc[:]

                           Year    City  ...                       Event   Medal
Athlete                                  ...
HAJOS, Alfred              1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto           1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  Athens  ...  100M Freestyle For Sailors  Silver
...                         ...     ...  ...                         ...     ...
JANIKOWSKI, Damian         2012  London  ...                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  ...                    Wg 96 KG    Gold
TOTROV, Rustam             2012  London  ...                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  ...                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  ...                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [40]:
#1st row and 1st 3 columns
df.iloc[0,:3]

Year         1896
City       Athens
Sport    Aquatics
Name: HAJOS, Alfred, dtype: object

In [41]:
# 1st row and selected column
df.iloc[0,[0,2,5,7]]

Year          1896
Sport     Aquatics
Gender         Men
Medal         Gold
Name: HAJOS, Alfred, dtype: object

In [42]:
# selected rows and columns
df.iloc[34:39,[0,2,5,7]]

                      Year      Sport Gender   Medal
Athlete
GARRETT, Robert       1896  Athletics    Men  Silver
KELLNER, Gyula        1896  Athletics    Men  Bronze
LOUIS, Spyridon       1896  Athletics    Men    Gold
VASILAKOS, Kharilaos  1896  Athletics    Men  Silver
DAMASKOS, Evangelos   1896  Athletics    Men  Bronze

In [47]:
# Is the fourth column country? (T/F)
df.iloc[:,4].equals(df.Country)

True

In [45]:
# print athlete name and country
df['Country']

Athlete
HAJOS, Alfred                HUN
HERSCHMANN, Otto             AUT
DRIVAS, Dimitrios            GRE
MALOKINIS, Ioannis           GRE
CHASAPIS, Spiridon           GRE
                            ...
JANIKOWSKI, Damian           POL
REZAEI, Ghasem Gholamreza    IRI
TOTROV, Rustam               RUS
ALEKSANYAN, Artur            ARM
LIDBERG, Jimmy               SWE
Name: Country, Length: 31165, dtype: object

# Mask

In [48]:
mask1=titanic.gender=="male"    # create filter/mask
mask1

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: gender, Length: 891, dtype: bool

In [50]:
titanic_male=titanic.loc[mask1]
titanic_male

     survived  pclass gender   age  sibsp  parch     fare embarked deck
0           0       3   male  22.0      1      0   7.2500        S  NaN
4           0       3   male  35.0      0      0   8.0500        S  NaN
5           0       3   male   NaN      0      0   8.4583        Q  NaN
6           0       1   male  54.0      0      0  51.8625        S    E
7           0       3   male   2.0      3      1  21.0750        S  NaN
..        ...     ...    ...   ...    ...    ...      ...      ...  ...
883         0       2   male  28.0      0      0  10.5000        S  NaN
884         0       3   male  25.0      0      0   7.0500        S  NaN
886         0       2   male  27.0      0      0  13.0000        S  NaN
889         1       1   male  26.0      0      0  30.0000        C    C
890         0       3   male  32.0      0      0   7.7500        Q  NaN

[577 rows x 9 columns]

In [51]:
titanic.gender=="male"  # same as mask1

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: gender, Length: 891, dtype: bool

In [52]:
titanic[titanic.gender=="male"]["fare"]

0       7.2500
4       8.0500
5       8.4583
6      51.8625
7      21.0750
        ...
883    10.5000
884     7.0500
886    13.0000
889    30.0000
890     7.7500
Name: fare, Length: 577, dtype: float64

In [53]:
titanic.loc[titanic.gender=="male", "fare"]  # Same as above

0       7.2500
4       8.0500
5       8.4583
6      51.8625
7      21.0750
        ...
883    10.5000
884     7.0500
886    13.0000
889    30.0000
890     7.7500
Name: fare, Length: 577, dtype: float64

In [54]:
titanic.loc[mask1,"fare"]  # Same as above but using Mask

0       7.2500
4       8.0500
5       8.4583
6      51.8625
7      21.0750
        ...
883    10.5000
884     7.0500
886    13.0000
889    30.0000
890     7.7500
Name: fare, Length: 577, dtype: float64

In [55]:
titanic_male=titanic.loc[mask1]
titanic_male

     survived  pclass gender   age  sibsp  parch     fare embarked deck
0           0       3   male  22.0      1      0   7.2500        S  NaN
4           0       3   male  35.0      0      0   8.0500        S  NaN
5           0       3   male   NaN      0      0   8.4583        Q  NaN
6           0       1   male  54.0      0      0  51.8625        S    E
7           0       3   male   2.0      3      1  21.0750        S  NaN
..        ...     ...    ...   ...    ...    ...      ...      ...  ...
883         0       2   male  28.0      0      0  10.5000        S  NaN
884         0       3   male  25.0      0      0   7.0500        S  NaN
886         0       2   male  27.0      0      0  13.0000        S  NaN
889         1       1   male  26.0      0      0  30.0000        C    C
890         0       3   male  32.0      0      0   7.7500        Q  NaN

[577 rows x 9 columns]

In [56]:
titanic_male.head()

   survived  pclass gender   age  sibsp  parch     fare embarked deck
0         0       3   male  22.0      1      0   7.2500        S  NaN
4         0       3   male  35.0      0      0   8.0500        S  NaN
5         0       3   male   NaN      0      0   8.4583        Q  NaN
6         0       1   male  54.0      0      0  51.8625        S    E
7         0       3   male   2.0      3      1  21.0750        S  NaN

In [57]:
print(1912 - titanic.age)

0      1890.0
1      1874.0
2      1886.0
3      1877.0
4      1877.0
        ...
886    1885.0
887    1893.0
888       NaN
889    1886.0
890    1880.0
Name: age, Length: 891, dtype: float64

In [60]:
titanic["YoB"]=1912 - titanic.age
titanic.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck     YoB
0         0       3    male  22.0      1      0   7.2500        S  NaN  1890.0
1         1       1  female  38.0      1      0  71.2833        C    C  1874.0
2         1       3  female  26.0      0      0   7.9250        S  NaN  1886.0
3         1       1  female  35.0      1      0  53.1000        S    C  1877.0
4         0       3    male  35.0      0      0   8.0500        S  NaN  1877.0

In [61]:
titanic.sibsp+titanic.parch

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Length: 891, dtype: int64

In [62]:
titanic["relatives"]=titanic.sibsp+titanic.parch
titanic.head()

   survived  pclass  gender   age  ...  embarked  deck     YoB relatives
0         0       3    male  22.0  ...         S   NaN  1890.0         1
1         1       1  female  38.0  ...         C     C  1874.0         1
2         1       3  female  26.0  ...         S   NaN  1886.0         0
3         1       1  female  35.0  ...         S     C  1877.0         1
4         0       3    male  35.0  ...         S   NaN  1877.0         0

[5 rows x 11 columns]

In [63]:
titanic.drop(columns=["sibsp","parch"],inplace=True)
titanic.head()

   survived  pclass  gender   age     fare embarked deck     YoB  relatives
0         0       3    male  22.0   7.2500        S  NaN  1890.0          1
1         1       1  female  38.0  71.2833        C    C  1874.0          1
2         1       3  female  26.0   7.9250        S  NaN  1886.0          0
3         1       1  female  35.0  53.1000        S    C  1877.0          1
4         0       3    male  35.0   8.0500        S  NaN  1877.0          0

In [64]:
inflation_factor=10
titanic.fare*10

0       72.500
1      712.833
2       79.250
3      531.000
4       80.500
        ...
886    130.000
887    300.000
888    234.500
889    300.000
890     77.500
Name: fare, Length: 891, dtype: float64

In [65]:
titanic.fare=titanic.fare*10
titanic.head()

   survived  pclass  gender   age     fare embarked deck     YoB  relatives
0         0       3    male  22.0   72.500        S  NaN  1890.0          1
1         1       1  female  38.0  712.833        C    C  1874.0          1
2         1       3  female  26.0   79.250        S  NaN  1886.0          0
3         1       1  female  35.0  531.000        S    C  1877.0          1
4         0       3    male  35.0   80.500        S  NaN  1877.0          0

In [68]:
cond1=titanic.gender=="female"
cond2=titanic.age<14

In [69]:
(cond1|cond2).head()

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [70]:
titanic.loc[cond1 | cond2]

     survived  pclass  gender   age     fare embarked deck     YoB  relatives
1           1       1  female  38.0  712.833        C    C  1874.0          1
2           1       3  female  26.0   79.250        S  NaN  1886.0          0
3           1       1  female  35.0  531.000        S    C  1877.0          1
7           0       3    male   2.0  210.750        S  NaN  1910.0          4
8           1       3  female  27.0  111.333        S  NaN  1885.0          2
..        ...     ...     ...   ...      ...      ...  ...     ...        ...
880         1       2  female  25.0  260.000        S  NaN  1887.0          1
882         0       3  female  22.0  105.167        S  NaN  1890.0          0
885         0       3  female  39.0  291.250        Q  NaN  1873.0          5
887         1       1  female  19.0  300.000        S    B  1893.0          0
888         0       3  female   NaN  234.500        S  NaN     NaN          3

[351 rows x 9 columns]

In [71]:
titanic.loc[cond1 & cond2]

     survived  pclass  gender    age  ...  embarked deck      YoB  relatives
10          1       3  female   4.00  ...         S    G  1908.00          2
24          0       3  female   8.00  ...         S  NaN  1904.00          4
43          1       2  female   3.00  ...         C  NaN  1909.00          3
58          1       2  female   5.00  ...         S  NaN  1907.00          3
119         0       3  female   2.00  ...         S  NaN  1910.00          6
147         0       3  female   9.00  ...         S  NaN  1903.00          4
172         1       3  female   1.00  ...         S  NaN  1911.00          2
184         1       3  female   4.00  ...         S  NaN  1908.00          2
205         0       3  female   2.00  ...         S    G  1910.00          1
233         1       3  female   5.00  ...         S  NaN  1907.00          6
237         1       2  female   8.00  ...         S  NaN  1904.00          2
297         0       1  female   2.00  ...         S    C  1910.00          3
374         0       3  female   3.00  ...         S  NaN  1909.00          4
381         1       3  female   1.00  ...         C  NaN  1911.00          2
419         0       3  female  10.00  ...         S  NaN  1902.00          2
446         1       2  female  13.00  ...         S  NaN  1899.00          1
448         1       3  female   5.00  ...         C  NaN  1907.00          3
469         1       3  female   0.75  ...         C  NaN  1911.25          3
479         1       3  female   2.00  ...         S  NaN  1910.00          1
530         1       2  female   2.00  ...         S  NaN  1910.00          2
535         1       2  female   7.00  ...         S  NaN  1905.00          2
541         0       3  female   9.00  ...         S  NaN  1903.00          6
542         0       3  female  11.00  ...         S  NaN  1901.00          6
618         1       2  female   4.00  ...         S    F  1908.00          3
634         0       3  female   9.00  ...         S  NaN  1903.00          5
642         0       3  female   2.00  ...         S  NaN  1910.00          5
644         1       3  female   0.75  ...         C  NaN  1911.25          3
691         1       3  female   4.00  ...         C  NaN  1908.00          1
720         1       2  female   6.00  ...         S  NaN  1906.00          1
750         1       2  female   4.00  ...         S  NaN  1908.00          2
777         1       3  female   5.00  ...         S  NaN  1907.00          0
780         1       3  female  13.00  ...         C  NaN  1899.00          0
813         0       3  female   6.00  ...         S  NaN  1906.00          6
852         0       3  female   9.00  ...         C  NaN  1903.00          2

[34 rows x 9 columns]

In [79]:
wom_or_chi=titanic.loc[cond1|cond2,["survived","pclass","gender","age"]]
wom_or_chi

     survived  pclass  gender   age
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
7           0       3    male   2.0
8           1       3  female  27.0
..        ...     ...     ...   ...
880         1       2  female  25.0
882         0       3  female  22.0
885         0       3  female  39.0
887         1       1  female  19.0
888         0       3  female   NaN

[351 rows x 4 columns]

In [80]:
wom_or_chi.head()

   survived  pclass  gender   age
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
7         0       3    male   2.0
8         1       3  female  27.0

In [81]:
wom_or_chi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351 entries, 1 to 888
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  351 non-null    int64
 1   pclass    351 non-null    int64
 2   gender    351 non-null    object
 3   age       298 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.7+ KB

In [82]:
wom_or_chi.describe()

         survived      pclass         age
count  351.000000  351.000000  298.000000
mean     0.723647    2.205128   25.039161
std      0.447832    0.847232   15.314631
min      0.000000    1.000000    0.420000
25%      0.000000    1.000000   14.125000
50%      1.000000    2.000000   24.000000
75%      1.000000    3.000000   35.000000
max      1.000000    3.000000   63.000000

In [84]:
wom_or_chi1=titanic.loc[cond1 & cond2,["survived","pclass","gender","age"]]
wom_or_chi1

     survived  pclass  gender    age
10          1       3  female   4.00
24          0       3  female   8.00
43          1       2  female   3.00
58          1       2  female   5.00
119         0       3  female   2.00
147         0       3  female   9.00
172         1       3  female   1.00
184         1       3  female   4.00
205         0       3  female   2.00
233         1       3  female   5.00
237         1       2  female   8.00
297         0       1  female   2.00
374         0       3  female   3.00
381         1       3  female   1.00
419         0       3  female  10.00
446         1       2  female  13.00
448         1       3  female   5.00
469         1       3  female   0.75
479         1       3  female   2.00
530         1       2  female   2.00
535         1       2  female   7.00
541         0       3  female   9.00
542         0       3  female  11.00
618         1       2  female   4.00
634         0       3  female   9.00
642         0       3  female   2.00
644         1       3  female   0.75
691         1       3  female   4.00
720         1       2  female   6.00
750         1       2  female   4.00
777         1       3  female   5.00
780         1       3  female  13.00
813         0       3  female   6.00
852         0       3  female   9.00

In [85]:
wom_or_chi1.head()

     survived  pclass  gender  age
10          1       3  female  4.0
24          0       3  female  8.0
43          1       2  female  3.0
58          1       2  female  5.0
119         0       3  female  2.0

In [86]:
wom_or_chi1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 10 to 852
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  34 non-null     int64
 1   pclass    34 non-null     int64
 2   gender    34 non-null     object
 3   age       34 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

In [87]:
wom_or_chi1.describe()

        survived     pclass        age
count  34.000000  34.000000  34.000000
mean    0.617647   2.676471   5.279412
std     0.493270   0.534880   3.522527
min     0.000000   1.000000   0.750000
25%     0.000000   2.000000   2.000000
50%     1.000000   3.000000   4.500000
75%     1.000000   3.000000   8.000000
max     1.000000   3.000000  13.000000

In [88]:
df

                           Year    City  ...                       Event   Medal
Athlete                                  ...
HAJOS, Alfred              1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto           1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  Athens  ...  100M Freestyle For Sailors  Silver
...                         ...     ...  ...                         ...     ...
JANIKOWSKI, Damian         2012  London  ...                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012  London  ...                    Wg 96 KG    Gold
TOTROV, Rustam             2012  London  ...                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012  London  ...                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012  London  ...                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [92]:
g1=df.groupby("Country")
list(g1)  # To see record as per group convert into list

[('AFG',
                    Year     City      Sport  ... Gender       Event   Medal
  Athlete                                     ...
  NIKPAI, Rohullah  2008  Beijing  Taekwondo  ...    Men     - 58 KG  Bronze
  NIKPAI, Rohullah  2012   London  Taekwondo  ...    Men  58 - 68 KG  Bronze

  [2 rows x 8 columns]),
 ('AHO',
                   Year   City    Sport  ... Gender                Event   Medal
  Athlete                                ...
  BOERSMA, Jan D.  1988  Seoul  Sailing  ...    Men  Board (Division Ii)  Silver

  [1 rows x 8 columns]),
 ('ALG',
                        Year  ...   Medal
  Athlete                     ...
  ZAOUI, Mohamed        1984  ...  Bronze
  MOUSSA, Mustapha      1984  ...  Bronze
  BOULMERKA, Hassiba    1992  ...    Gold
  SOLTANI, Hocine       1992  ...  Bronze
  MORCELI, Nourredine   1996  ...    Gold
  SOLTANI, Hocine       1996  ...    Gold
  BAHARI, Mohamed       1996  ...  Bronze
  MERAH-BENIDA, Nouria  2000  ...    Gold
  SAIDI-SIEF, Ali       2000  ...  Silver
  SAID GUERNI, Djabir   2000  ...  Bronze
  HAMMAD, Abderrahmane  2000  ...  Bronze
  ALLALOU, Mohamed      2000  ...  Bronze
  HADDAD, Soraya        2008  ...  Bronze
  BENIKHLEF, Amar       2008  ...  Silver
  MAKHLOUFI, Taoufik    2012  ...    Gold

  [15 rows x 8 columns]),
 ('ANZ',
                              Year  ...   Medal
  Athlete                           ...
  BEAUREPAIRE, Frank E.       1908  ...  Bronze
  BEAUREPAIRE, Frank E.       1908  ...  Silver
  KERR, Harry E.              1908  ...  Bronze
  BAKER, Reginald L.          1908  ...  Silver
  BARNETT, Jumbo              1908  ...    Gold
  BEDE-SMITH, Frank           1908  ...    Gold
  CARMICHAEL, Philipp         1908  ...    Gold
  CARROLL, Daniel Brendan     1908  ...    Gold
  CRAIG, Robert R.            1908  ...    Gold
  GRIFFEN, Thomas             1908  ...    Gold
  HICKEY, John                1908  ...    Gold
  MCARTHUR, Emmanuel          1908  ...    Gold
  MCCABE, Arthur J.           1908  ...    Gold
  MCCUE, Patrick              1908  ...    Gold
  MCKIVATT, Christopher       1908  ...    Gold
  MCMURTRIE, Charles          1908  ...    Gold
  MIDDLETON, Albert Sidney    1908  ...    Gold
  RICHARDS, Thomas            1908  ...    Gold
  RUSSELL, Charles            1908  ...    Gold
  HEALY, Cecil                1912  ...  Silver
  DURACK, Fanny               1912  ...    Gold
  WYLIE, Wilhelmina           1912  ...  Silver
  HARDWICK, Harold H.         1912  ...  Bronze
  HARDWICK, Harold H.         1912  ...  Bronze
  BOARDMAN, Leslie            1912  ...    Gold
  CHAMPION, Malcolm           1912  ...    Gold
  HARDWICK, Harold H.         1912  ...    Gold
  HEALY, Cecil                1912  ...    Gold
  WILDING, Anthony Frederick  1912  ...  Bronze

  [29 rows x 8 columns]),
 ('ARG',
                                 Year  ...   Medal
  Athlete                              ...
  BRUNETO, Luis                  1924  ...  Silver
  PORZIO, Alfredo                1924  ...  Bronze
  QUARTUCCI, Pedro               1924  ...  Bronze
  COPELLO, Alfredo               1924  ...  Silver
  MENDEZ, Hector                 1924  ...  Silver
  ...                             ...  ...     ...
  SRUOGA, Josefina               2012  ...  Silver
  CALABRESE, Lucas               2012  ...  Bronze
  DE LA FUENTE, Juan             2012  ...  Bronze
  CRISMANICH, Sebastian Eduardo  2012  ...    Gold
  DEL POTRO, Juan Martin         2012  ...  Bronze

  [259 rows x 8 columns]),
 ('ARM',
                              Year     City  ...                     Event   Medal
  Athlete                                    ...
  MKRCHYAN, Armen             1996  Atlanta  ...  - 48KG (Light-Flyweight)  Silver
  NAZARYAN, Armen             1996  Atlanta  ...     48 - 52KG (Flyweight)    Gold
  MELIKYAN, Arsen             2000   Sydney  ...                      77KG  Bronze
  JAVAKHYAN, Hrachik          2008  Beijing  ...   57 - 60KG (Lightweight)  Bronze
  MARTIROSYAN, Tigran Gevorg  2008  Beijing  ...                      69KG  Bronze
  DAVTYAN, Gevorg             2008  Beijing  ...                      77KG  Bronze
  MARTIROSYAN, Tigran Varban  2008  Beijing  ...                      85KG  Bronze
  AMOYAN, Roman               2008  Beijing  ...                    - 55KG  Bronze
  PATRIKEEV, Yuri             2008  Beijing  ...                96 - 120KG  Bronze
  JULFALAKYAN, Arsen          2012   London  ...                  Wg 74 KG  Silver
  ALEKSANYAN, Artur           2012   London  ...                  Wg 96 KG  Bronze

  [11 rows x 8 columns]),
 ('AUS',
                        Year    City  ...                Event   Medal
  Athlete                             ...
  FLACK, Edwin          1896  Athens  ...                1500M    Gold
  FLACK, Edwin          1896  Athens  ...                 800M    Gold
  LANE, Frederick C.V.  1900   Paris  ...       200M Freestyle    Gold
  LANE, Frederick C.V.  1900   Paris  ...  200M Obstacle Event    Gold
  ROWLEY, Stanley       1900   Paris  ...                 100M  Bronze
  ...                    ...     ...  ...                  ...     ...
  CURTIS, Nina          2012  London  ...           Elliott 6M  Silver
  PRICE, Olivia         2012  London  ...           Elliott 6M  Silver
  WHITTY, Lucinda       2012  London  ...           Elliott 6M  Silver
  SLINGSBY, Tom         2012  London  ...                Laser    Gold
  DENSHAM, Erin         2012  London  ...           Individual  Bronze

  [1189 rows x 8 columns]),
 ('AUT',
                             Year  ...   Medal
  Athlete                          ...
  HERSCHMANN, Otto           1896  ...  Silver
  NEUMANN, Paul              1896  ...    Gold
  SCHMAL, Adolf              1896  ...  Bronze
  SCHMAL, Adolf              1896  ...    Gold
  SCHMAL, Adolf              1896  ...  Bronze
  ...                         ...  ...     ...
  PLANER, Christian          2004  ...  Bronze
  ALLEN, Kate                2004  ...    Gold
  JUKIC, Mirna               2008  ...  Bronze
  OBLINGER PETERS, Violetta  2008  ...  Bronze
  PAISCHER, Ludwig           2008  ...  Silver

  [146 rows x 8 columns]),
 ('AZE',
                            Year     City  ...                          Event   Medal
  Athlete                                  ...
  ABDULLAYEV, Namig         1996  Atlanta  ...          48 - 52KG (Flyweight)  Silver
  ALAKPAROV, Vugar          2000   Sydney  ...                        71-75KG  Bronze
  MEFTAKHETDINOVA, Zemfira  2000   Sydney  ...             Skeet (75 Targets)    Gold
  ABDULLAYEV, Namig         2000   Sydney  ...                      48 - 54KG    Gold
  ASLANOV, Fuad             2004   Athens  ...          48 - 51KG (Flyweight)  Bronze
  MAMMADOV, Aghasi          2004   Athens  ...       51 - 54KG (Bantamweight)  Bronze
  ASHUMOVA, Irada           2004   Athens  ...       25M Pistol (30+30 Shots)  Bronze
  MEFTAKHETDINOVA, Zemfira  2004   Athens  ...             Skeet (75 Targets)  Bronze
  MANSUROV, Farid           2004   Athens  ...                      60 - 66KG    Gold
  IMRANOV, Shahin           2008  Beijing  ...      54 - 57KG (Featherweight)  Bronze
  MAMMADLI, Elnur           2008  Beijing  ...        66 - 73KG (Lightweight)    Gold
  MIRALIYEV, Movlud         2008  Beijing  ...  90 - 100KG (Half-Heavyweight)  Bronze
  STADNIK, Mariya           2008  Beijing  ...                         - 48KG  Bronze
  GAZYUMOV, Khetag          2008  Beijing  ...                      84 - 96KG  Bronze
  BAYRAMOV, Rovshan         2008  Beijing  ...                         - 55KG  Silver
  RAHIMOV, Vitaliy          2008  Beijing  ...                      55 - 60KG  Silver
  MEDZHIDOV, Magomedrasul   2012   London  ...                         + 91KG  Bronze
  MAMMADOV, Teymur          2012   London  ...                      81 - 91KG  Bronze
  HRISTOV, Valentin         2012   London  ...                          -56KG  Bronze
  STADNYK, Mariya           2012   London  ...                       Wf 48 KG  Silver
  RATKEVICH, Yuliya         2012   London  ...                       Wf 55 KG  Bronze
  ASGAROV, Toghrul          2012   London  ...                       Wf 60 KG    Gold
  SHARIFOV, Sharif          2012   London  ...                       Wf 84 KG    Gold
  GAZYUMOV, Khetag          2012   London  ...                       Wf 96 KG  Bronze
  BAYRAMOV, Rovshan         2012   London  ...                       Wg 55 KG  Silver
  AHMADOV, Emin             2012   London  ...                       Wg 74 KG  Bronze

  [26 rows x 8 columns]),
 ('BAH',
                             Year  ...   Medal
  Athlete                          ...
  FARRINGTON, Sloane Elmo    1956  ...  Bronze
  KNOWLES, Durward Randolph  1956  ...  Bronze
  COOKE, Cecil George        1964  ...    Gold
  KNOWLES, Durward Randolph  1964  ...    Gold
  RUTHERFORD, Frank          1992  ...  Bronze
  CLARKE, Eldece             1996  ...  Silver
  DAVIS, Pauline Elaine      1996  ...  Silver
  FERGUSON-MCKENZIE, Debbie  1996  ...  Silver
  FYNES, Sevatheda           1996  ...  Silver
  STURRUP, Chandra           1996  ...  Silver
  DAVIS, Pauline Elaine      2000  ...    Gold
  DAVIS, Pauline Elaine      2000  ...    Gold
  FERGUSON-MCKENZIE, Debbie  2000  ...    Gold
  FYNES, Sevatheda           2000  ...    Gold
  LEWIS, Eldice              2000  ...    Gold
  STURRUP, Chandra           2000  ...    Gold
  FERGUSON-MCKENZIE, Debbie  2004  ...  Bronze
  WILLIAMS-DARLING, Tonique  2004  ...    Gold
  BAIN, Andretti             2008  ...  Silver
  BROWN, Christopher         2008  ...  Silver
  MATHIEU, Michael           2008  ...  Silver
  WILLIAMS, Andrae           2008  ...  Silver
  SANDS, Leevan              2008  ...  Bronze
  BROWN, Chris               2012  ...    Gold
  MATHIEU, Michael           2012  ...    Gold
  MILLER, Ramon              2012  ...    Gold
  PINDER, Demetrius          2012  ...    Gold

  [27 rows x 8 columns]),
 ('BAR',
                     Year    City      Sport  ... Gender Event   Medal
  Athlete                                     ...
  THOMPSON, Obadele  2000  Sydney  Athletics  ...    Men  100M  Bronze

  [1 rows x 8 columns]),
 ('BDI',
                      Year     City      Sport  ... Gender  Event Medal
  Athlete                                       ...
  NIYONGABO, Venuste  1996  Atlanta  Athletics  ...    Men  5000M  Gold

  [1 rows x 8 columns]),
 ('BEL',
                       Year     City      Sport  ... Gender            Event   Medal
  Athlete                                        ...
  COHEN, Henri         1900    Paris   Aquatics  ...    Men       Water Polo  Silver
  DE BACKER, Jean      1900    Paris   Aquatics  ...    Men       Water Polo  Silver
  DE BEHR, Victor      1900    Paris   Aquatics  ...    Men       Water Polo  Silver
  FEYAERTS, Fernand    1900    Paris   Aquatics  ...    Men       Water Polo  Silver
  GREGOIRE, Oscar      1900    Paris   Aquatics  ...    Men       Water Polo  Silver
  ...                   ...      ...        ...  ...    ...              ...     ...
  OUEDRAOGO, Elodie    2008  Beijing  Athletics  ...  Women     4X100M Relay  Silver
  HELLEBAUT, Tia       2008  Beijing  Athletics  ...  Women        High Jump    Gold
  VAN SNICK, Charline  2012   London       Judo  ...  Women          - 48 KG  Bronze
  VAN ACKER, Evi       2012   London    Sailing  ...  Women     Laser Radial  Bronze
  COX, Lionel          2012   London   Shooting  ...    Men  50M Rifle Prone  Silver

  [411 rows x 8 columns]),
 ('BER',
                  Year      City   Sport  ... Gender                 Event   Medal
  Athlete                                 ...
  HILL, Clarence  1976  Montreal  Boxing  ...    Men  + 81KG (Heavyweight)  Bronze

  [1 rows x 8 columns]),
 ('BLR',
                          Year     City  ...                  Event   Medal
  Athlete                                ...
  KAPTYUKH, Vasiliy       1996  Atlanta  ...           Discus Throw  Bronze
  DUBROVSHCHIK, Vladimir  1996  Atlanta  ...           Discus Throw  Silver
  ZVEREVA, Ellina         1996  Atlanta  ...           Discus Throw  Bronze
  SAZANOVICH, Natalya     1996  Atlanta  ...             Heptathlon  Silver
  SCHERBO, Vitaly         1996  Atlanta  ...         Horizontal Bar  Bronze
  ...                      ...      ...  ...                    ...     ...
  CHARKASHYNA, Liubou     2012   London  ...  Individual All-Around  Bronze
  MARTYNOV, Sergei        2012   London  ...        50M Rifle Prone    Gold
  AZARENKA, Victoria      2012   London  ...          Mixed Doubles    Gold
  MIRNYI, Max             2012   London  ...          Mixed Doubles    Gold
  AZARENKA, Victoria      2012   London  ...                Singles  Bronze

  [113 rows x 8 columns]),
 ('BOH',
                              Year    City  ...             Event   Medal
  Athlete                                   ...
  JANDA, Frantisek            1900   Paris  ...      Discus Throw  Silver
  ROSENBAUM, Hedwig           1900   Paris  ...           Singles  Bronze
  GOPPOLD DE LOBSDORF, Vilem  1908  London  ...  Sabre Individual  Bronze
  GOPPOLD DE LOBSDORF, Vilem  1908  London  ...        Sabre Team  Bronze
  LADA, Vlastimil             1908  London  ...        Sabre Team  Bronze
  SCHEJBAL, Bedrich           1908  London  ...        Sabre Team  Bronze
  TUCEK, Frantisek            1908  London  ...        Sabre Team  Bronze

  [7 rows x 8 columns]),
 ('BOT',
               Year    City      Sport Discipline Country Gender Event   Medal
  Athlete
  AMOS, Nijel  2012  London  Athletics  Athletics     BOT    Men  800M  Silver),
 ('BRA',
                             Year  ...   Medal
  Athlete                          ...
  PARAENSE, Guilherme        1920  ...    Gold
  BARBOSA, Dario             1920  ...  Bronze
  DA COSTA, Afranio Antonio  1920  ...  Bronze
  PARAENSE, Guilherme        1920  ...  Bronze
  SOLEDADE, Fernando         1920  ...  Bronze
  ...                         ...  ...     ...
  OLIVEIRA, Fabiana          2012  ...    Gold
  PEQUENO, Paula             2012  ...    Gold
  PEREIRA, Natalia           2012  ...    Gold
  RODRIGUES, Fernanda        2012  ...    Gold
  SILVA, Adenizia            2012  ...    Gold

  [431 rows x 8 columns]),
 ('BRN',
                       Year    City      Sport  ... Gender  Event   Medal
  Athlete                                       ...
  JAMAL, Maryam Yusuf  2012  London  Athletics  ...  Women  1500M  Bronze

  [1 rows x 8 columns]),
 ('BUL',
                               Year                   City  ...      Event   Medal
  Athlete                                                   ...
  NIKOLOV, Boris Georgiev      1952               Helsinki  ...    71-75KG  Bronze
  DIEV, Todor Nedyalkov        1956  Melbourne / Stockholm  ...   Football  Bronze
  KOLEV, Ivan Petkov           1956  Melbourne / Stockholm  ...   Football  Bronze
  KOVATCHEV, Nikolai Dimitrov  1956  Melbourne / Stockholm  ...   Football  Bronze
  MANOLOV, Manol Tomov         1956  Melbourne / Stockholm  ...   Football  Bronze
  ...                           ...                    ...  ...        ...     ...
  ZLATEVA, Stanka              2008                Beijing  ...  63 - 72KG  Silver
  TERZIEV, Kiril               2008                Beijing  ...  66 - 74KG  Bronze
  YANAKIEV, Yavor              2008                Beijing  ...  66 - 74KG  Bronze
  PULEV, Tervel                2012                 London  ...  81 - 91KG  Bronze
  HRISTOVA, Stanka Zlateva     2012                 London  ...   Wf 72 KG  Silver

  [333 rows x 8 columns]),
 ('BWI',
                              Year  City      Sport  ... Gender         Event   Medal
  Athlete                                            ...
  GARDNER, Keith Alvin Saint  1960  Rome  Athletics  ...    Men  4X400M Relay  Bronze
  KERR, George Ezekiel        1960  Rome  Athletics  ...    Men  4X400M Relay  Bronze
  SPENCE, Malcolm A.E.        1960  Rome  Athletics  ...    Men  4X400M Relay  Bronze
  WEDDERBURN, James           1960  Rome  Athletics  ...    Men  4X400M Relay  Bronze
  KERR, George Ezekiel        1960  Rome  Athletics  ...    Men          800M  Bronze

  [5 rows x 8 columns]),
 ('CAN',
                          Year      City  ...                       Event   Medal
  Athlete                                 ...
  ORTON, George           1900     Paris  ...          3000M Steeplechase    Gold
  ORTON, George           1900     Paris  ...                400M Hurdles  Bronze
  DESMARTEAU, Etienne     1904  St Louis  ...  56LB Weight Throw (25.4KG)    Gold
  DUCKER, George          1904  St Louis  ...                    Football    Gold
  FRASER, John Alexander  1904  St Louis  ...                    Football    Gold
  ...                      ...       ...  ...                         ...     ...
  VIINBERG, Rachelle      2012    London  ...         Eight With Coxswain  Silver
  WILKINSON, Lauren       2012    London  ...         Eight With Coxswain  Silver
  GIRARD, Christine       2012    London  ...                        63KG  Bronze
  HUYNH, Carol            2012    London  ...                    Wf 48 KG  Bronze
  VERBEEK, Tonya Lynn     2012    London  ...                    Wf 55 KG  Silver

  [649 rows x 8 columns]),
 ('CHI',
                            Year  ...   Medal
  Athlete                         ...
  PLAZA REYES, Manuel       1928  ...  Silver
  CRISTI-GALLO, Oscar       1952  ...  Silver
  CRISTI-GALLO, Oscar       1952  ...  Silver
  ECHEVERRIA, Ricardo       1952  ...  Silver
  MENDOZA, Cesar            1952  ...  Silver
  AHRENS, Marlene           1956  ...  Silver
  BARRIENTOS, Claudio       1956  ...  Bronze
  TAPIA, Ramon              1956  ...  Silver
  LUCAS, Carlos             1956  ...  Bronze
  DE IRRUARRIZAGA, Alfonso  1988  ...  Silver
  ALVAREZ, Cristian         2000  ...  Bronze
  ARRUE, Francisco          2000  ...  Bronze
  CONTRERAS, Pablo          2000  ...  Bronze
  DI GREGORIO, Javier       2000  ...  Bronze
  GONZALEZ, Sebastian       2000  ...  Bronze
  HENRIQUEZ, David          2000  ...  Bronze
  IBARRA, Manuel            2000  ...  Bronze
  MALDONADO, Claudio        2000  ...  Bronze
  NAVIA, Reinaldo           2000  ...  Bronze
  NUNEZ, Rodrigo            2000  ...  Bronze
  OLARRA, Rafael            2000  ...  Bronze
  ORMAZABAL, Patricio       2000  ...  Bronze
  PIZARRO, David            2000  ...  Bronze
  REYES, Pedro              2000  ...  Bronze
  ROJAS, Mauricio           2000  ...  Bronze
  TAPIA, Nelson             2000  ...  Bronze
  TELLO, Rodrigo            2000  ...  Bronze
  ZAMORANO, Ivan            2000  ...  Bronze
  GONZALEZ, Fernando        2004  ...    Gold
  MASSU, Nicolas            2004  ...    Gold
  GONZALEZ, Fernando        2004  ...  Bronze
  MASSU, Nicolas            2004  ...    Gold
  GONZALEZ, Fernando        2008  ...  Silver

  [33 rows x 8 columns]),
 ('CHN',
                  Year         City  ...                  Event   Medal
  Athlete                            ...
  LI, Kong-Zheng  1984  Los Angeles  ...           10M Platform  Bronze
  ZHOU, Ji-Hong   1984  Los Angeles  ...           10M Platform    Gold
  TAN, Liang-De   1984  Los Angeles  ...         3M Springboard  Silver
  LI, Ling-Juan   1984  Los Angeles  ...  Individual Fita Round  Silver
  ZHU, Jian-Hua   1984  Los Angeles  ...              High Jump  Bronze
  ...              ...          ...  ...                    ...     ...
  LI, Xueying     2012       London  ...                   58KG    Gold
  LIN, Qingfeng   2012       London  ...                   69KG    Gold
  LU, Xiaojun     2012       London  ...                   77KG    Gold
  LU, Haojie      2012       London  ...                   77KG  Silver
  JING, Ruixue    2012       London  ...               Wf 63 KG  Silver

  [807 rows x 8 columns]),
 ('CIV',
                   Year         City      Sport  ... Gender Event   Medal
  Athlete                                        ...

In [91]:
g1.head()

                    Year    City  ...                       Event   Medal
Athlete                           ...
HAJOS, Alfred       1896  Athens  ...              100M Freestyle    Gold
HERSCHMANN, Otto    1896  Athens  ...              100M Freestyle  Silver
DRIVAS, Dimitrios   1896  Athens  ...  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis  1896  Athens  ...  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon  1896  Athens  ...  100M Freestyle For Sailors  Silver
...                  ...     ...  ...                         ...     ...
FENG, Tian Wei      2012  London  ...                        Team  Bronze
LI, Jia Wei         2012  London  ...                        Team  Bronze
WANG, Yuegu         2012  London  ...                        Team  Bronze
OBAME, Anthony      2012  London  ...                     + 80 KG  Silver
NIKPAI, Rohullah    2012  London  ...                  58 - 68 KG  Bronze

[592 rows x 8 columns]

In [94]:
g2=df.groupby(by=["Country","Gender"])
list(g2)

[(('AFG', 'Men'),
                    Year     City      Sport  ... Gender       Event   Medal
  Athlete                                     ...
  NIKPAI, Rohullah  2008  Beijing  Taekwondo  ...    Men     - 58 KG  Bronze
  NIKPAI, Rohullah  2012   London  Taekwondo  ...    Men  58 - 68 KG  Bronze

  [2 rows x 8 columns]),
 (('AHO', 'Men'),
                   Year   City    Sport  ... Gender                Event   Medal
  Athlete                                ...
  BOERSMA, Jan D.  1988  Seoul  Sailing  ...    Men  Board (Division Ii)  Silver

  [1 rows x 8 columns]),
 (('ALG', 'Men'),
                        Year  ...   Medal
  Athlete                     ...
  ZAOUI, Mohamed        1984  ...  Bronze
  MOUSSA, Mustapha      1984  ...  Bronze
  SOLTANI, Hocine       1992  ...  Bronze
  MORCELI, Nourredine   1996  ...    Gold
  SOLTANI, Hocine       1996  ...    Gold
  BAHARI, Mohamed       1996  ...  Bronze
  SAIDI-SIEF, Ali       2000  ...  Silver
  SAID GUERNI, Djabir   2000  ...  Bronze
  HAMMAD, Abderrahmane  2000  ...  Bronze
  ALLALOU, Mohamed      2000  ...  Bronze
  BENIKHLEF, Amar       2008  ...  Silver
  MAKHLOUFI, Taoufik    2012  ...    Gold

  [12 rows x 8 columns]),
 (('ALG', 'Women'),
                        Year       City  ...                         Event   Medal
  Athlete                                ...
  BOULMERKA, Hassiba    1992  Barcelona  ...                         1500M    Gold
  MERAH-BENIDA, Nouria  2000     Sydney  ...                         1500M    Gold
  HADDAD, Soraya        2008    Beijing  ...  48 - 52KG (Half-Lightweight)  Bronze

  [3 rows x 8 columns]),
 (('ANZ', 'Men'),
                              Year  ...   Medal
  Athlete                           ...
  BEAUREPAIRE, Frank E.       1908  ...  Bronze
  BEAUREPAIRE, Frank E.       1908  ...  Silver
  KERR, Harry E.              1908  ...  Bronze
  BAKER, Reginald L.          1908  ...  Silver
  BARNETT, Jumbo              1908  ...    Gold
  BEDE-SMITH, Frank           1908  ...    Gold
  CARMICHAEL, Philipp         1908  ...    Gold
  CARROLL, Daniel Brendan     1908  ...    Gold
  CRAIG, Robert R.            1908  ...    Gold
  GRIFFEN, Thomas             1908  ...    Gold
  HICKEY, John                1908  ...    Gold
  MCARTHUR, Emmanuel          1908  ...    Gold
  MCCABE, Arthur J.           1908  ...    Gold
  MCCUE, Patrick              1908  ...    Gold
  MCKIVATT, Christopher       1908  ...    Gold
  MCMURTRIE, Charles          1908  ...    Gold
  MIDDLETON, Albert Sidney    1908  ...    Gold
  RICHARDS, Thomas            1908  ...    Gold
  RUSSELL, Charles            1908  ...    Gold
  HEALY, Cecil                1912  ...  Silver
  HARDWICK, Harold H.         1912  ...  Bronze
  HARDWICK, Harold H.         1912  ...  Bronze
  BOARDMAN, Leslie            1912  ...    Gold
  CHAMPION, Malcolm           1912  ...    Gold
  HARDWICK, Harold H.         1912  ...    Gold
  HEALY, Cecil                1912  ...    Gold
  WILDING, Anthony Frederick  1912  ...  Bronze

  [27 rows x 8 columns]),
 (('ANZ', 'Women'),
                     Year       City     Sport  ... Gender           Event   Medal
  Athlete                                       ...
  DURACK, Fanny      1912  Stockholm  Aquatics  ...  Women  100M Freestyle    Gold
  WYLIE, Wilhelmina  1912  Stockholm  Aquatics  ...  Women  100M Freestyle  Silver

  [2 rows x 8 columns]),
 (('ARG', 'Men'),
                                 Year  ...   Medal
  Athlete                              ...
  BRUNETO, Luis                  1924  ...  Silver
  PORZIO, Alfredo                1924  ...  Bronze
  QUARTUCCI, Pedro               1924  ...  Bronze
  COPELLO, Alfredo               1924  ...  Silver
  MENDEZ, Hector                 1924  ...  Silver
  ...                             ...  ...     ...
  LANGE, Santiago                2008  ...  Bronze
  CALABRESE, Lucas               2012  ...  Bronze
  DE LA FUENTE, Juan             2012  ...  Bronze
  CRISMANICH, Sebastian Eduardo  2012  ...    Gold
  DEL POTRO, Juan Martin         2012  ...  Bronze

  [187 rows x 8 columns]),
 (('ARG', 'Women'),
                               Year    City  ...           Event   Medal
  Athlete                                    ...
  CAMPBELL, Jeanette Morven    1936  Berlin  ...  100M Freestyle  Silver
  SIMONETTO DE PORTELA, Noemi  1948  London  ...       Long Jump  Silver
  SABATINI, Gabriela           1988   Seoul  ...         Singles  Silver
  AICEGA, Magdalena            2000  Sydney  ...          Hockey  Silver
  ANTONISKA, Mariela           2000  Sydney  ...          Hockey  Silver
  ...                           ...     ...  ...             ...     ...
  RODRIGUEZ PEREZ, Macarena    2012  London  ...          Hockey  Silver
  SANCHEZ MOCCIA, Rocio        2012  London  ...          Hockey  Silver
  SCARONE, Mariela             2012  London  ...          Hockey  Silver
  SRUOGA, Daniela              2012  London  ...          Hockey  Silver
  SRUOGA, Josefina             2012  London  ...          Hockey  Silver

  [72 rows x 8 columns]),
 (('ARM', 'Men'),
                              Year     City  ...                     Event   Medal
  Athlete                                    ...
  MKRCHYAN, Armen             1996  Atlanta  ...  - 48KG (Light-Flyweight)  Silver
  NAZARYAN, Armen             1996  Atlanta  ...     48 - 52KG (Flyweight)    Gold
  MELIKYAN, Arsen             2000   Sydney  ...                      77KG  Bronze
  JAVAKHYAN, Hrachik          2008  Beijing  ...   57 - 60KG (Lightweight)  Bronze
  MARTIROSYAN, Tigran Gevorg  2008  Beijing  ...                      69KG  Bronze
  DAVTYAN, Gevorg             2008  Beijing  ...                      77KG  Bronze
  MARTIROSYAN, Tigran Varban  2008  Beijing  ...                      85KG  Bronze
  AMOYAN, Roman               2008  Beijing  ...                    - 55KG  Bronze
  PATRIKEEV, Yuri             2008  Beijing  ...                96 - 120KG  Bronze
  JULFALAKYAN, Arsen          2012   London  ...                  Wg 74 KG  Silver
  ALEKSANYAN, Artur           2012   London  ...                  Wg 96 KG  Bronze

  [11 rows x 8 columns]),
 (('AUS', 'Men'),
                        Year    City  ...                Event   Medal
  Athlete                             ...
  FLACK, Edwin          1896  Athens  ...                1500M    Gold
  FLACK, Edwin          1896  Athens  ...                 800M    Gold
  LANE, Frederick C.V.  1900   Paris  ...       200M Freestyle    Gold
  LANE, Frederick C.V.  1900   Paris  ...  200M Obstacle Event    Gold
  ROWLEY, Stanley       1900   Paris  ...                 100M  Bronze
  ...                    ...     ...  ...                  ...     ...
  BELCHER, Mathew       2012  London  ...                  470    Gold
  PAGE, Malcolm         2012  London  ...                  470    Gold
  JENSEN, Iain          2012  London  ...         49Er - Skiff    Gold
  OUTTERIDGE, Nathan    2012  London  ...         49Er - Skiff    Gold
  SLINGSBY, Tom         2012  London  ...                Laser    Gold

  [696 rows x 8 columns]),
 (('AUS', 'Women'),
                                   Year         City  ...              Event   Medal
  Athlete                                             ...
  MEALING, Philomenia Alecia       1932  Los Angeles  ...    100M Backstroke  Silver
  DENNIS, Clare                    1932  Los Angeles  ...  200M Breaststroke    Gold
  DAVIES, Judith Joy               1948       London  ...    100M Backstroke  Bronze
  LYONS, Beatrice Nancy            1948       London  ...  200M Breaststroke  Silver
  STRICKLAND-DE LA HUNTY, Shirley  1948       London  ...               100M  Bronze
  ...                               ...          ...  ...                ...     ...
  CROW, Kim                        2012       London  ...      Single Sculls  Bronze
  CURTIS, Nina                     2012       London  ...         Elliott 6M  Silver
  PRICE, Olivia                    2012       London  ...         Elliott 6M  Silver
  WHITTY, Lucinda                  2012       London  ...         Elliott 6M  Silver
  DENSHAM, Erin                    2012       London  ...         Individual  Bronze

  [493 rows x 8 columns]),
 (('AUT', 'Men'),
                          Year  ...   Medal
  Athlete                       ...
  HERSCHMANN, Otto        1896  ...  Silver
  NEUMANN, Paul           1896  ...    Gold
  SCHMAL, Adolf           1896  ...  Bronze
  SCHMAL, Adolf           1896  ...    Gold
  SCHMAL, Adolf           1896  ...  Bronze
  ...                      ...  ...     ...
  GERITZER, Andreas       2004  ...  Silver
  HAGARA, Roman           2004  ...    Gold
  STEINACHER, Hans Peter  2004  ...    Gold
  PLANER, Christian       2004  ...  Bronze
  PAISCHER, Ludwig        2008  ...  Silver

  [125 rows x 8 columns]),
 (('AUT', 'Women'),
                             Year  ...   Medal
  Athlete                          ...
  ADLER, Margarete           1912  ...  Bronze
  MILCH, Klara               1912  ...  Bronze
  STICKER, Josephine         1912  ...  Bronze
  ZAHOUREK, Bertha           1912  ...  Bronze
  PREIS-MÜLLER, Ellen S.     1932  ...    Gold
  PREIS-MÜLLER, Ellen S.     1936  ...  Bronze
  BAUMA, Hermine (Herma)     1948  ...    Gold
  SCHÄFFER-MAYER, Ine        1948  ...  Bronze
  SCHWINGL, Friederike       1948  ...  Bronze
  PREIS-MÜLLER, Ellen S.     1948  ...  Bronze
  LIEBHART, Gertrude         1952  ...  Silver
  JANKO-EGGER, Eva           1968  ...  Bronze
  PROKOP-SYKORA, Liese       1968  ...  Silver
  GUSENBAUER-MAJDAN, Ilona   1972  ...  Bronze
  THEURER-MAX, Elisabeth     1980  ...    Gold
  KIESL, Theresia            1996  ...  Bronze
  GRAF, Stephanie            2000  ...  Silver
  HEILL, Claudia             2004  ...  Silver
  ALLEN, Kate                2004  ...    Gold
  JUKIC, Mirna               2008  ...  Bronze
  OBLINGER PETERS, Violetta  2008  ...  Bronze

  [21 rows x 8 columns]),
 (('AZE', 'Men'),
                           Year     City  ...                          Event   Medal
  Athlete                                 ...
  ABDULLAYEV, Namig        1996  Atlanta  ...          48 - 52KG (Flyweight)  Silver
  ALAKPAROV, Vugar         2000   Sydney  ...                        71-75KG  Bronze
  ABDULLAYEV, Namig        2000   Sydney  ...                      48 - 54KG    Gold
  ASLANOV, Fuad            2004   Athens  ...          48 - 51KG (Flyweight)  Bronze
  MAMMADOV, Aghasi         2004   Athens  ...       51 - 54KG (Bantamweight)  Bronze
  MANSUROV, Farid          2004   Athens  ...                      60 - 66KG    Gold
  IMRANOV, Shahin          2008  Beijing  ...      54 - 57KG (Featherweight)  Bronze
  MAMMADLI, Elnur          2008  Beijing  ...        66 - 73KG (Lightweight)    Gold
  MIRALIYEV, Movlud        2008  Beijing  ...  90 - 100KG (Half-Heavyweight)  Bronze
  GAZYUMOV, Khetag         2008  Beijing  ...                      84 - 96KG  Bronze
  BAYRAMOV, Rovshan        2008  Beijing  ...                         - 55KG  Silver
  RAHIMOV, Vitaliy         2008  Beijing  ...                      55 - 60KG  Silver
  MEDZHIDOV, Magomedrasul  2012   London  ...                         + 91KG  Bronze
  MAMMADOV, Teymur         2012   London  ...                      81 - 91KG  Bronze
  HRISTOV, Valentin        2012   London  ...                          -56KG  Bronze
  ASGAROV, Toghrul         2012   London  ...                       Wf 60 KG    Gold
  SHARIFOV, Sharif         2012   London  ...                       Wf 84 KG    Gold
  GAZYUMOV, Khetag         2012   London  ...                       Wf 96 KG  Bronze
  BAYRAMOV, Rovshan        2012   London  ...                       Wg 55 KG  Silver
  AHMADOV, Emin            2012   London  ...                       Wg 74 KG  Bronze

  [20 rows x 8 columns]),
 (('AZE', 'Women'),
                            Year     City  ...                     Event   Medal
  Athlete                                  ...
  MEFTAKHETDINOVA, Zemfira  2000   Sydney  ...        Skeet (75 Targets)    Gold
  ASHUMOVA, Irada           2004   Athens  ...  25M Pistol (30+30 Shots)  Bronze
  MEFTAKHETDINOVA, Zemfira  2004   Athens  ...        Skeet (75 Targets)  Bronze
  STADNIK, Mariya           2008  Beijing  ...                    - 48KG  Bronze
  STADNYK, Mariya           2012   London  ...                  Wf 48 KG  Silver
  RATKEVICH, Yuliya         2012   London  ...                  Wf 55 KG  Bronze

  [6 rows x 8 columns]),
 (('BAH', 'Men'),
                             Year  ...   Medal
  Athlete                          ...
  FARRINGTON, Sloane Elmo    1956  ...  Bronze
  KNOWLES, Durward Randolph  1956  ...  Bronze
  COOKE, Cecil George        1964  ...    Gold
  KNOWLES, Durward Randolph  1964  ...    Gold
  RUTHERFORD, Frank          1992  ...  Bronze
  BAIN, Andretti             2008  ...  Silver
  BROWN, Christopher         2008  ...  Silver
  MATHIEU, Michael           2008  ...  Silver
  WILLIAMS, Andrae           2008  ...  Silver
  SANDS, Leevan              2008  ...  Bronze
  BROWN, Chris               2012  ...    Gold
  MATHIEU, Michael           2012  ...    Gold
  MILLER, Ramon              2012  ...    Gold
  PINDER, Demetrius          2012  ...    Gold

  [14 rows x 8 columns]),
 (('BAH', 'Women'),
                             Year     City  ...         Event   Medal
  Athlete                                   ...
  CLARKE, Eldece             1996  Atlanta  ...  4X100M Relay  Silver
  DAVIS, Pauline Elaine      1996  Atlanta  ...  4X100M Relay  Silver
  FERGUSON-MCKENZIE, Debbie  1996  Atlanta  ...  4X100M Relay  Silver
  FYNES, Sevatheda           1996  Atlanta  ...  4X100M Relay  Silver
  STURRUP, Chandra           1996  Atlanta  ...  4X100M Relay  Silver
  DAVIS, Pauline Elaine      2000   Sydney  ...          200M    Gold
  DAVIS, Pauline Elaine      2000   Sydney  ...  4X100M Relay    Gold
  FERGUSON-MCKENZIE, Debbie  2000   Sydney  ...  4X100M Relay    Gold
  FYNES, Sevatheda           2000   Sydney  ...  4X100M Relay    Gold
  LEWIS, Eldice              2000   Sydney  ...  4X100M Relay    Gold
  STURRUP, Chandra           2000   Sydney  ...  4X100M Relay    Gold
  FERGUSON-MCKENZIE, Debbie  2004   Athens  ...          200M  Bronze
  WILLIAMS-DARLING, Tonique  2004   Athens  ...          400M    Gold

  [13 rows x 8 columns]),
 (('BAR', 'Men'),
                     Year    City      Sport  ... Gender Event   Medal
  Athlete                                     ...
  THOMPSON, Obadele  2000  Sydney  Athletics  ...    Men  100M  Bronze

  [1 rows x 8 columns]),
 (('BDI', 'Men'),
                      Year     City      Sport  ... Gender  Event Medal
  Athlete                                       ...
  NIYONGABO, Venuste  1996  Atlanta  Athletics  ...    Men  5000M  Gold

  [1 rows x 8 columns]),
 (('BEL', 'Men'),
                     Year    City     Sport  ... Gender                 Event   Medal
  Athlete                                    ...
  COHEN, Henri       1900   Paris  Aquatics  ...    Men            Water Polo  Silver
  DE BACKER, Jean    1900   Paris  Aquatics  ...    Men            Water Polo  Silver
  DE BEHR, Victor    1900   Paris  Aquatics  ...    Men            Water Polo  Silver
  FEYAERTS, Fernand  1900   Paris  Aquatics  ...    Men            Water Polo  Silver
  GREGOIRE, Oscar    1900   Paris  Aquatics  ...    Men            Water Polo  Silver
  ...                 ...     ...       ...  ...    ...                   ...     ...
  DE WILDE, Etienne  2000  Sydney   Cycling  ...    Men               Madison  Silver
  GILMORE, Matthew   2000  Sydney   Cycling  ...    Men               Madison  Silver
  MEIRHAEGHE, Filip  2000  Sydney   Cycling  ...    Men         Cross-Country  Silver
  MERCKX, Axel       2004  Athens   Cycling  ...    Men  Individual Road Race  Bronze
  COX, Lionel        2012  London  Shooting  ...    Men       50M Rifle Prone  Silver

  [391 rows x 8 columns]),
 (('BEL', 'Women'),
                           Year  ...   Medal
  Athlete                        ...
  LEMPEREUR, Ingrid        1984  ...  Bronze
  HAESEBROUCK, Ann         1984  ...  Bronze
  RAKELS, Heidi            1992  ...  Bronze
  BREDAEL, Annelies        1992  ...  Silver
  LOMBA, Marisabel         1996  ...  Bronze
  VANDECAVEYE, Gella       1996  ...  Silver
  WERBROUCK, Ulla          1996  ...    Gold
  SIMONS, Ann              2000  ...  Bronze
  VANDECAVEYE, Gella       2000  ...  Bronze
  CALLENS, Els             2000  ...  Bronze
  VAN ROOST, Dominique     2000  ...  Bronze
  HEYLEN, Ilse             2004  ...  Bronze
  HENIN-HARDENNE, Justine  2004  ...    Gold
  BORLEE, Olivia           2008  ...  Silver
  GEVAERT, Kim             2008  ...  Silver
  MARIEN, Hanna            2008  ...  Silver
  OUEDRAOGO, Elodie        2008  ...  Silver
  HELLEBAUT, Tia           2008  ...    Gold
  VAN SNICK, Charline      2012  ...  Bronze
  VAN ACKER, Evi           2012  ...  Bronze

  [20 rows x 8 columns]),
 (('BER', 'Men'),
                  Year      City   Sport  ... Gender                 Event   Medal
  Athlete                                 ...
  HILL, Clarence  1976  Montreal  Boxing  ...    Men  + 81KG (Heavyweight)  Bronze

  [1 rows x 8 columns]),
 (('BLR', 'Men'),
                           Year     City  ...                            Event   Medal
  Athlete                                 ...
  KAPTYUKH, Vasiliy        1996  Atlanta  ...                     Discus Throw  Bronze
  DUBROVSHCHIK, Vladimir   1996  Atlanta  ...                     Discus Throw  Silver
  SCHERBO, Vitaly          1996  Atlanta  ...                   Horizontal Bar  Bronze
  SCHERBO, Vitaly          1996  Atlanta  ...             Individual All-Round  Bronze
  SCHERBO, Vitaly          1996  Atlanta  ...                    Parallel Bars  Bronze
  SCHERBO, Vitaly          1996  Atlanta  ...                            Vault  Bronze
  BASINSKI, Igor           1996  Atlanta  ...            50M Pistol (60 Shots)  Silver
  MEDVEDEV, Aleksey        1996  Atlanta  ...  100 - 130KG (Super Heavyweight)  Silver
  PAVLOV, Aleksandr        1996  Atlanta  ...         - 48KG (Light-Flyweight)  Silver
  TSILENT, Valeriy         1996  Atlanta  ...         74 - 82KG (Middleweight)  Bronze
  LISHTVAN, Sergey         1996  Atlanta  ...         90 - 100KG (Heavyweight)  Silver
  ASTAPKOVICH, Igor        2000   Sydney  ...                     Hammer Throw  Bronze
  LARYUKOV, Anatoly        2000   Sydney  ...          66 - 73KG (Lightweight)  Bronze
  DOVGAL, Pavel            2000   Sydney  ...           Individual Competition  Bronze
  BASINSKI, Igor           2000   Sydney  ...        10M Air Pistol (60 Shots)  Bronze
  BASINSKI, Igor           2000   Sydney  ...            50M Pistol (60 Shots)  Silver
  MARTYNOV, Sergei         2000   Sydney  ...       50M Rifle Prone (60 Shots)  Bronze
  OLESHCHUK, Gennady       2000   Sydney  ...                             62KG  Bronze
  LAVRENOV, Sergei         2000   Sydney  ...                             69KG  Bronze
  DEBELKA, Dmitry          2000   Sydney  ...                       97 - 130KG  Bronze
  TIKHON, Ivan             2004   Athens  ...                     Hammer Throw  Silver
  ARIPGADJIEV, Magomed     2004   Athens  ...    75 - 81KG (Light-Heavyweight)  Silver
  ZUYEV, Viktar            2004   Athens  ...          81 - 91KG (Heavyweight)  Silver
  MAKHNEU, Vadzim          2004   Athens  ...          K-2 500M (Kayak Double)  Bronze
  PIATRUSHENKA, Raman      2004   Athens  ...          K-2 500M (Kayak Double)  Bronze
  MAKARAU, Ihar            2004   Athens  ...    90 - 100KG (Half-Heavyweight)    Gold
  MARTYNOV, Sergei         2004   Athens  ...       50M Rifle Prone (60 Shots)  Bronze
  RYBAKOU, Andrei          2004   Athens  ...                             85KG  Silver
  MAKARANKA, Viachaslau    2004   Athens  ...                        74 - 84KG  Bronze

In [99]:
df.groupby(by=["Country","Gender"]).sum()

/tmp/ipykernel_7863/1731392243.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by=["Country","Gender"]).sum()

                  Year
Country Gender
AFG     Men       4020
AHO     Men       1988
ALG     Men      23968
        Women     6000
ANZ     Men      51548
...                ...
YUG     Women   122976
ZAM     Men       3980
ZIM     Women    45724
ZZX     Men      85508
        Women     5700

[236 rows x 1 columns]

In [100]:
df.groupby(by=["Country","Gender"]).count()

                Year  City  Sport  Discipline  Event  Medal
Country Gender
AFG     Men        2     2      2           2      2      2
AHO     Men        1     1      1           1      1      1
ALG     Men       12    12     12          12     12     12
        Women      3     3      3           3      3      3
ANZ     Men       27    27     27          27     27     27
...              ...   ...    ...         ...    ...    ...
YUG     Women     62    62     62          62     62     62
ZAM     Men        2     2      2           2      2      2
ZIM     Women     23    23     23          23     23     23
ZZX     Men       45    45     45          45     45     45
        Women      3     3      3           3      3      3

[236 rows x 6 columns]